#cloud-config
package_update: true
package_upgrade: true

packages:
 - openjdk-8-jdk
 - apt-transport-https
 - ca-certificates
 - curl
 - software-properties-common


runcmd:
 - 'curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -'
 - 'sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"'
 - 'sudo apt-get update'
 - 'sudo apt-get install docker-ce'
 - 'sudo docker run -d --restart=unless-stopped -p 8080:8080 rancher/server'
