#cloud-config
package_update: true
package_upgrade: true

packages:
 - openjdk-8-jdk
 - apt-transport-https

runcmd:
 - 'sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 9DA31620334BD75D9DCB49F368818C72E52529D4'
 - 'echo "deb [ arch=amd64,arm64 ] https://repo.mongodb.org/apt/ubuntu xenial/mongodb-org/4.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-4.0.list'
 - 'sudo apt-get update'
 - 'sudo apt-get install -y mongodb-org'
 - 'sudo service mongod start'
 - 'wget -qO - https://artifacts.elastic.co/GPG-KEY-elasticsearch | sudo apt-key add -'
 - 'echo "deb https://artifacts.elastic.co/packages/5.x/apt stable main" | sudo tee -a /etc/apt/sources.list.d/elastic-5.x.list'
 - 'sudo apt-get update && sudo apt-get install elasticsearch'
 - 'sudo wget -P /etc/elasticsearch/ https://raw.githubusercontent.com/h00pzz/sre-assignment/master/roles/instances/files/elasticsearch.yml'
 - 'systemctl daemon-reload'
 - 'systemctl enable elasticsearch.service'
 - 'systemctl start elasticsearch.service'
 - 'wget -P /tmp https://packages.graylog2.org/repo/packages/graylog-2.4-repository_latest.deb'
 - 'sudo dpkg -i /tmp/graylog-2.4-repository_latest.deb'
 - 'sudo apt-get update && sudo apt-get install graylog-server'
 - 'sudo systemctl start graylog-server'
