#cloud-config
package_update: true
package_upgrade: true

packages:
 - openjdk-8-jdk


runcmd:
 - 'wget -P /tmp http://dl.bintray.com/rundeck/rundeck-deb/rundeck_2.11.5-1-GA_all.deb'
 - 'sudo dpkg -i /tmp/rundeck_2.11.5-1-GA_all.deb'
 - '/etc/init.d/rundeckd start'
