#cloud-config
package_update: true
package_upgrade: true

runcmd:
 - 'wget -P /tmp https://raw.githubusercontent.com/h00pzz/sre-assignment/master/roles/instances/files/zabbix-install.sh'
 - 'sudo chmod +x /tmp/zabbix-install.sh'
 - 'sudo /tmp/zabbix-install.sh'

